<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}Stattic</title>

    <meta name="description" content="{% if seo_description %}{{ seo_description }}{% else %}Stattic is a fast, lightweight static site generator that optimizes images, supports custom fonts, and easily integrates with GitHub Pages for quick, SEO-friendly site deployment without the bloat of traditional CMS platforms like WordPress.{% endif %}">
    <meta name="keywords" content="{% if seo_keywords %}{{ seo_keywords }}{% else %}SSG, Static Site Generator{% endif %}">
    <meta name="author" content="{% if author %}{{ author }}{% else %}Robert DeVore{% endif %}">
  
    <link href="/assets/css/tailwind.min.css" rel="stylesheet" rel="preload" media="print" onload="this.media='all'" />
    {% if minify %}
        <link rel="stylesheet" href="/assets/css/main.min.css">
    {% else %}
        <link rel="stylesheet" href="/assets/css/style.css" rel="preload">
        <link rel="stylesheet" href="/assets/css/fonts.css" rel="preload">
    {% endif %}

    <!-- Alpine.js for interactive components -->
    <script src="/assets/js/alpine.min.js" defer></script>
</head>
<body class="bg-background text-primary quicksand-300">

<header class="bg-background shadow">
    <div class="container max-w-screen-xl m-auto py-6 px-4 flex justify-between">
        <h2 class="text-3xl font-bold quicksand-700"><a href="/" class="text-links">Stattic Site</a></h2>
        
        <!-- Navigation Menu -->
        <nav>
            <ul class="flex space-x-6">
                {% for page in pages %}
                    <li>
                        <a href="{{ page.permalink }}" class="text-primary hover:underline quicksand-700">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>

<main class="container max-w-2xl m-auto py-10 px-4">
    {% block content %}
    <!-- Page content will go here -->
    {% endblock %}
</main>

<footer class="bg-background border-t border-primary mt-10 py-6">
    <div class="container max-w-screen-xl m-auto px-4 text-center">
        <p>Get <a href="https://stattic.site/" target="_blank" class="text-links font-bold">Stattic</a>.</p>
    </div>
</footer>

</body>
</html>
