{% extends "base.html" %}

{% block content %}
<main class="container max-w-2xl m-auto py-10 px-4" id="main-content">
    <ul class="space-y-6">
        {% for post in posts %}
        <li>
            <h2 class="text-4xl mb-2 font-bold quicksand-700">
                <a href="{{ relative_path }}{{ post.permalink }}index.html" class="text-links hover:underline">{{ post.title }}</a>
            </h2>
            <div class="dark:text-slate-50 mb-2">{{ post.excerpt | safe }}</div>
        </li>
        {% endfor %}
    </ul>
</main><!-- #main-content -->
{% endblock %}
